body {
  background-color: #dfffdd;
  color: #242424;
  display: flex;
  justify-content: center;
  font-family: "Nunito", serif;
  font-size: 18px;
}

div.root {
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #242424;
  width: 100%;
}

div.left--logo {
  display: flex;
  margin-left: 2rem;
}

div.right--navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2rem;
  width: 33%;
}

div.content {
  display: flex;
  align-self: center;
  justify-content: center;
  padding-top: 2rem;
  width: 80%;
}