body {
  background-color: #dfffdd;
  color: #242424;
  display: flex;
  justify-content: center;
  font-family: "Nunito", serif;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 1.16px;
}

div.root {
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #242424;
  width: 100%;
}

div.left--logo {
  display: flex;
  margin-left: 2rem;
}

div.right--navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2rem;
  width: 250px;
}

div.content {
  display: flex;
  align-self: center;
  justify-content: center;
  padding-top: 2rem;
  width: 80%;
}

p.content--end {
  text-align: center;
}

div.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1fcf0;
  border-width: 2px;
  border-radius: 15px;
  border-style: solid;
  width: 28%;
  padding: 10px;
}

img.profile--img {
  width: 180px;
}

h3.profile--name {
  margin: 20px 0 0 0;
}

h4.profile--extra {
  margin: 5px 0 0 0;
}

div.profile--box {
  padding-top: 2rem;
  width: 90%;
  align-self: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}